@charset "utf-8";

body {
  background-color: rgb(23 24 32);
  display: grid;
  place-items: center;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

.center {
  display: grid;
  place-items: center;
}


/* ----------------------------------------- */
/* Text                                      */
/* ----------------------------------------- */
article p {
  font-size: 42px;
  font-weight: 600;
  color: #fff;
}

.purple {
  color: #90f;
}

.orange {
  color: #f90;
}

.green {
  color: rgb(39, 146, 12);
}


/* ----------------------------------------- */
/* Dialog-one                                */
/* ----------------------------------------- */
.dialog {
  padding: 20px;
  width: 320px;
  height: 305px;
  background-color: #f3f7fa;
  border-radius: 6px;
}

.text h2 {
  font-size: 24px;
  font-weight: 600;
}

.text p {
  margin: 15px 0 42px;
  font-size: 17px;
  font-weight: 500;
}

button {
  width: 90px;
  height: 38px;
  border-radius: 50px;
  padding-bottom: 3px;
  font-weight: 600;
  border: 1px solid #3c57ff;
  cursor: pointer;
  transform: all 0.25s ease-in-out;
}

.button-accept, .button-save {
  background-color: #3c57ff;
  color: #fff;
}

.button-settings {
  background-color: #fff;
  color: #3c57ff;
}

.button-accept:hover, .button-save:hover {
  background-color: #4d64f8;
  border: 1px solid #4d64f8;
}

.button-settings:hover {
  background-color: #3c57ff;
  color: #fff;
  border: 1px solid #3c57ff;
}